# Configuración de Base de Datos PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=cambiar_esta_contrasena_por_una_segura
POSTGRES_DB=registro2

# URL de conexión a la base de datos dentro de Docker Compose
DATABASE_URL="postgresql://postgres:cambiar_esta_contrasena_por_una_segura@db:5432/registro2?schema=public"

# Llave secreta para sesiones JWT / Auth (generar una cadena aleatoria compleja)
SESSION_SECRET="Generar_Una_Cadena_Secreta_Aleatoria_De_32_Caracteres"

# Puerto público del servidor para la app (ej. 3002, 8080, 80)
APP_PORT=3002

# Configuración de servidor Ollama (IA) vía red local o IP de Tailscale
OLLAMA_URL="http://100.125.127.8:11434"
OLLAMA_MODEL="llama3"

